body {
    background-color: #2ecad9;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.kostka {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row div {
    color: #fff;
    text-align: center;
    line-height: 150px;
    font-size: 36px;
    width: 150px;
    height: 150px;
    border: 10px black;
}

#k1 {
    background-color: #db1f12;
    border-style: outset;
}
#k2 {
    background-color: #db4712;
    border-style: solid;
}
#k3 {
    background-color: #d6a124;
    border-style: dotted;
}
#k4 {
    background-color: #9bd624;
    border-style: dashed;
}
#k5 {
    background-color: #1d870c;
    border-style: solid;
}
#k6 {
    background-color: #5195c9;
    border-style: double;
}
#k7 {
    background-color: #0d146e;
    border-style: inset;
}
#k8 {
    background-color: #8f0d94;
    border-style: dashed;
}
#k9 {
    background-color: #1c0b0b;
    border-style: dotted;
}